*, *::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: .9rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 200;
    color: hsl(219, 12%, 42%);
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    max-width: 550px;
}


.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.notification {
    display: flex;
}

.notif__bar + .num__box {
    margin-left: 1em;
}

.notif__bar {
    font-weight: 800;
    font-size: 1.1rem;
    color: #000;
}

.num__box {
    color: #fff;
    border-radius: 5px;
    background: hsl(219, 85%, 26%);
    padding: 0 .4rem;
    margin: auto 0;
}

.num__box h4 {
    margin: .2rem 0;
    padding: 0 .3rem;
}

.light__item {
    margin: auto 0;
}

.light__text--link {
    text-decoration: none;
    color: black;

}

.light__text--link:hover {
    color:hsl(219, 85%, 26%);
}

.notif__box {
    border-radius: 10px;
}

.notif__box, .notif__box--two {
    padding: .5rem 0;
    margin: 1rem 0;
    line-height: 1.3rem;
}

.notif__box, .notif__msg--text:hover {
    background:hsl(210, 60%, 98%);
}

.notif__grid {
    display: flex;
    padding: 0 1rem;
}

.notif__text {
    width: 100%;
}

.notif__text--flex {
    display: flex;
    justify-content: space-between;
}

.notif__img + .notif__text {
    margin-left: .6rem;
}

.notif__text p {
    margin: 0;
}

.notif__time {
    margin-top: .1rem;
}

.notif__img {
    margin: .3rem 0;
}

a {
    text-decoration: none;
}

.attribution a {
    text-decoration: underline;
}

img {
    width: 35px;
    height: auto;
}

.inline__img {
    margin-left: 1rem;
}

.rad__two {
    border-radius: 10px;
}

.notif__msg--text {
    padding: 1rem;
    margin: .5rem 0;
    border: .5px solid hsl(211, 68%, 94%);
    border-radius: 10px;
}

.circle {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: .4rem;
    position: relative;
}

.bold {
    font-weight: 800;
    color: #000;
}

.bold:hover, .post:hover,
.group:hover, .group {
    color: hsl(219, 85%, 26%);
}

.post, .group {
    font-weight: 600;
}

.post, .notif__msg--text p {
    color: hsl(219, 12%, 42%);   
}
